<form novalidate name="loginForm">
    <section class="well-lg">
        <section class="panel-danger" ng-show="!loginController.isAuthenticated">
            <label class="label-danger">{{loginController.invalidCredentials}}</label>
        </section>
        <section class="form-group">
            <label for="userNameId">User Name:</label>
            <input type="text" class="form-control" id="userNameId" ng-model="loginController.credentials.userName" placeholder="Enter User Name" ng-required="true">
        </section>
        <section class="form-group">
            <label for="passwordValue">Password:</label>
            <input type="password" class="form-control" id="passwordValue" ng-model="loginController.credentials.password" placeholder="Enter Password" ng-required="true">
        </section>

        <button type="button"
                class="btn btn-default"
                ng-click="loginController.login()">Submit</button>
    </section>
</form>